

.snowflake {
    --size: .5vw;
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: fixed;
    top: 0;
    z-index: 10000;
    pointer-events: none;
  }
  
  @keyframes snowfall {
    0% {
      transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
      transform: translate3d(var(--left-end), 110vh, 0);
    }
  }
  .snowflake:nth-child(1) {
    --size: 0.2vw;
    --left-ini: 6vw;
    --left-end: 6vw;
    left: 78vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -2s;
  }
  
  .snowflake:nth-child(2) {
    --size: 0.2vw;
    --left-ini: 6vw;
    --left-end: 6vw;
    left: 97vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(3) {
    --size: .1vw;
    --left-ini: -2vw;
    --left-end: -9vw;
    left: 95vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(4) {
    --size: .1vw;
    --left-ini: 4vw;
    --left-end: -4vw;
    left: 100vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(5) {
    --size: 0.2vw;
    --left-ini: 0vw;
    --left-end: -5vw;
    left: 77vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(6) {
    --size: 0.2vw;
    --left-ini: 9vw;
    --left-end: -3vw;
    left: 98vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -2s;
  }
  
  .snowflake:nth-child(7) {
    --size: 0.2vw;
    --left-ini: 3vw;
    --left-end: 9vw;
    left: 89vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(8) {
    --size: 0.4vw;
    --left-ini: 6vw;
    --left-end: 8vw;
    left: 81vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(9) {
    --size: 0.2vw;
    --left-ini: 1vw;
    --left-end: 10vw;
    left: 50vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(10) {
    --size: 0.6vw;
    --left-ini: 8vw;
    --left-end: -1vw;
    left: 88vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(11) {
    --size: .5vw;
    --left-ini: -5vw;
    --left-end: -3vw;
    left: 88vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -6s;
  }
  
  .snowflake:nth-child(12) {
    --size: 0.2vw;
    --left-ini: 9vw;
    --left-end: 2vw;
    left: 29vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(13) {
    --size: .5vw;
    --left-ini: -4vw;
    --left-end: -1vw;
    left: 95vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(14) {
    --size: 0.2vw;
    --left-ini: -9vw;
    --left-end: -3vw;
    left: 36vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -1s;
  }
  
  .snowflake:nth-child(15) {
    --size: 0.4vw;
    --left-ini: -7vw;
    --left-end: 9vw;
    left: 89vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -7s;
  }
  
  .snowflake:nth-child(16) {
    --size: 0.2vw;
    --left-ini: -1vw;
    --left-end: -9vw;
    left: 30vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -6s;
  }
  
  .snowflake:nth-child(17) {
    --size: 0.6vw;
    --left-ini: -8vw;
    --left-end: -2vw;
    left: 81vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(18) {
    --size: 0.4vw;
    --left-ini: 5vw;
    --left-end: -2vw;
    left: 46vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(19) {
    --size: .4vw;
    --left-ini: 10vw;
    --left-end: -6vw;
    left: 64vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(20) {
    --size: 0.4vw;
    --left-ini: -9vw;
    --left-end: 5vw;
    left: 78vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -6s;
  }
  
  .snowflake:nth-child(21) {
    --size: 0.2vw;
    --left-ini: 0vw;
    --left-end: -9vw;
    left: 4vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -7s;
  }
  
  .snowflake:nth-child(22) {
    --size: 0.2vw;
    --left-ini: -2vw;
    --left-end: -1vw;
    left: 22vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -2s;
  }
  
  .snowflake:nth-child(23) {
    --size: 0.2vw;
    --left-ini: 9vw;
    --left-end: -9vw;
    left: 50vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(24) {
    --size: 0.4vw;
    --left-ini: -8vw;
    --left-end: 2vw;
    left: 97vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(25) {
    --size: .5vw;
    --left-ini: 8vw;
    --left-end: 7vw;
    left: 16vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -7s;
  }
  
  .snowflake:nth-child(26) {
    --size: .5vw;
    --left-ini: 7vw;
    --left-end: -5vw;
    left: 11vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(27) {
    --size: 0.2vw;
    --left-ini: 10vw;
    --left-end: 0vw;
    left: 87vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -6s;
  }
  
  .snowflake:nth-child(28) {
    --size: 0.6vw;
    --left-ini: -7vw;
    --left-end: -4vw;
    left: 69vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(29) {
    --size: 0.4vw;
    --left-ini: 8vw;
    --left-end: 1vw;
    left: 64vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(30) {
    --size: 0.4vw;
    --left-ini: 2vw;
    --left-end: 0vw;
    left: 100vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(31) {
    --size: 0.4vw;
    --left-ini: 6vw;
    --left-end: 0vw;
    left: 21vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -2s;
  }
  
  .snowflake:nth-child(32) {
    --size: 0.4vw;
    --left-ini: -1vw;
    --left-end: 0vw;
    left: 32vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(33) {
    --size: 0.6vw;
    --left-ini: 0vw;
    --left-end: 6vw;
    left: 99vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(34) {
    --size: 0.4vw;
    --left-ini: 8vw;
    --left-end: -8vw;
    left: 98vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(35) {
    --size: 0.4vw;
    --left-ini: 7vw;
    --left-end: -7vw;
    left: 4vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -8s;
  }
  
  .snowflake:nth-child(36) {
    --size: 0.2vw;
    --left-ini: -7vw;
    --left-end: 2vw;
    left: 79vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(37) {
    --size: .5vw;
    --left-ini: -2vw;
    --left-end: -6vw;
    left: 90vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -8s;
  }
  
  .snowflake:nth-child(38) {
    --size: 0.4vw;
    --left-ini: 3vw;
    --left-end: -3vw;
    left: 35vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -8s;
  }
  
  .snowflake:nth-child(39) {
    --size: 0.6vw;
    --left-ini: -5vw;
    --left-end: -1vw;
    left: 47vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -7s;
  }
  
  .snowflake:nth-child(40) {
    --size: 0.2vw;
    --left-ini: 3vw;
    --left-end: 0vw;
    left: 43vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(41) {
    --size: 0.6vw;
    --left-ini: -9vw;
    --left-end: 5vw;
    left: 13vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(42) {
    --size: 0.2vw;
    --left-ini: 9vw;
    --left-end: 5vw;
    left: 16vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(43) {
    --size: 0.2vw;
    --left-ini: -1vw;
    --left-end: 1vw;
    left: 90vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(44) {
    --size: .5vw;
    --left-ini: 7vw;
    --left-end: 10vw;
    left: 76vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(45) {
    --size: 0.2vw;
    --left-ini: 0vw;
    --left-end: 8vw;
    left: 8vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -8s;
  }
  
  .snowflake:nth-child(46) {
    --size: 0.4vw;
    --left-ini: 5vw;
    --left-end: 2vw;
    left: 17vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(47) {
    --size: .5vw;
    --left-ini: 5vw;
    --left-end: 9vw;
    left: 39vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -6s;
  }
  
  .snowflake:nth-child(48) {
    --size: .5vw;
    --left-ini: -6vw;
    --left-end: 2vw;
    left: 46vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -2s;
  }
  
  .snowflake:nth-child(49) {
    --size: 0.2vw;
    --left-ini: -5vw;
    --left-end: 1vw;
    left: 68vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -2s;
  }
  
  .snowflake:nth-child(50) {
    --size: 0.2vw;
    --left-ini: 9vw;
    --left-end: -3vw;
    left: 93vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -2s;
  }
  
  /* added small blur every 6 snowflakes*/
  .snowflake:nth-child(6n) {
    filter: blur(1px);
  }


a.-m-1\.5.p-1\.5::before {
  content: '';
  position: absolute;
  top: -9px;
  left: -5px;
  width: 60px;
  height: 60px;
  background-size: cover;
  rotate: -21deg;
  background-image: url('./img/christmas-9.gif');
}
a.-m-1\.5.p-1\.5 {
  position: relative;
}

.relative.z-10.overflow-hidden.\*\:rounded-xl.\[transform\:rotateY\(180deg\)\].group-\[\]\/flip\:\[transform\:rotateY\(0deg\)\].\[\&\~\*\]\:\[\&\:has\(\.mask\)\]\:lg\:hidden {
  position: relative;
}
.relative.z-10.overflow-hidden.\*\:rounded-xl.\[transform\:rotateY\(180deg\)\].group-\[\]\/flip\:\[transform\:rotateY\(0deg\)\].\[\&\~\*\]\:\[\&\:has\(\.mask\)\]\:lg\:hidden::before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 38px;
  width: 165px;
  height: 200px;
  background-size: cover;
  background-image: url('./img/christmas-2.gif');
}



a.inline-flex.justify-center.rounded-full.rounded-br-none.max-md\:text-xs.text-sm.font-semibold.max-md\:py-2.py-3.px-4.ring-2.ring-white.bg-white\/20.hover\:ring-gray-400.duration-300.backdrop-blur-md.shadow-sm.shadow-white\/50::before {
  content: '';
  position: absolute;
  bottom: -115px;
  right: 0px;
  width: 60px;
  height: 113px;
  background-size: cover;
  background-image: url('./img/christmas-20.webp');
}

.swiper.servicesSwiper.text-white.swiper-fade .swiper-slide.group\/svc.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active::before {
  content: '';
  position: absolute;
  bottom: -2px;
  right: 19px;
  width: 150px;
  z-index: 1;
  height: 165px;
  background-size: cover;
  background-image: url('./img/christmas-18.webp');
}

.swiper.portfolioSwiper.w-full.px-4.md\:px-0.mx-auto.flex.max-w-7xl.swiper-initialized.swiper-horizontal.swiper-backface-hidden .swiperInner::before {
  content: '';
  position: absolute;
  top: -9px;
  left: -10px;
  width: 120px;
  z-index: 1000;
  rotate: 90deg;
  height: 120px;
  background-size: cover;
  background-image: url('./img/christmas-1.webp');
}

.relative.overflow-hidde.rounded-2xl.sm\:rounded-3xl.flex.gap-x-20.p-10.items-center::before {
  content: '';
  position: absolute;
  top: -74px;
  left: 32px;
  width: 58px;
  z-index: 1000;
  bottom: -40px;
  background-size: cover;
  background-image: url('./img/christmas-3.webp');
}

.group.relative.bg-yellow-700.py-6.md\:py-8.lg\:py-16.select-nonee .mx-auto.max-w-7xl.px-6.lg\:px-8.w-full.relative::before {
  content: '';
  position: absolute;
  right: 0px;
  width: 58px;
  z-index: 1000;
  bottom: -176px;
  height: 113px;
  background-size: cover;
  background-image: url('./img/christmas-11.webp');
}

div#fantasyModal .relative.z-10.w-full.my-auto.max-w-5xl.sm\:mx-0::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 58px;
  z-index: 1000;
  bottom: 0;
  height: 113px;
  background-size: cover;
  background-image: url('./img/santaopen.webp');
}







@media (max-width:767px) {
  a.-m-1\.5.p-1\.5::before {
    top: -5px;
    left: -4px;
    width: 45px;
    height: 45px;
  }
  .swiper.servicesSwiper.text-white.swiper-fade .swiper-slide.group\/svc.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active::before {
    zoom: 0.4;
  }
  .swiper.portfolioSwiper.w-full.px-4.md\:px-0.mx-auto.flex.max-w-7xl.swiper-initialized.swiper-horizontal.swiper-backface-hidden .swiperInner::before {
    zoom: 0.7;
  }
  .group.relative.bg-yellow-700.py-6.md\:py-8.lg\:py-16.select-nonee .mx-auto.max-w-7xl.px-6.lg\:px-8.w-full.relative::before {
    right: 19px;
    width: 50px;
    bottom: -121px;
    height: 98px;
  }
  .relative.overflow-hidde.rounded-2xl.sm\:rounded-3xl.flex.gap-x-20.p-10.items-center::before {
    top: -35px;
    left: 32px;
    width: 47px;
    bottom: -13px;
  }
}

@media (max-width:660px) {
  .relative.overflow-hidde.rounded-2xl.sm\:rounded-3xl.flex.gap-x-20.p-10.items-center::before {
    top: -35px;
    left: -17px;
    width: 48px;
    bottom: -13px;
  }
  .swiper.servicesSwiper.text-white.swiper-fade .swiper-slide.group\/svc.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active::before {
    display: none;
  }
}